<!--====== SERVICES PART START ======-->

<section id="service" class="services-area pt-125 pb-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title pb-30">
          <h5 class="mb-15">{{service.tag}}</h5>
          <h3 class="title mb-15">{{service.tagline}}</h3>
          <p>{{getService().description}}</p>
        </div> <!-- section title -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="services-left mt-45">
          <div class="services">
            <img src="{{getService().imagelink}}" alt="">
            <a href="#" class="main-btn mt-30">{{getService().button}} <i class="lni-chevron-right"></i></a>
          </div> <!-- services btn -->
        </div> <!-- services left -->
      </div>
      <div class="col-lg-6">

        <div class="services-right mt-45">
          <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8">
              <div class="single-services text-center">
                <div class="services-icon">
                  <i class="lni-grid-alt"></i>
                </div>
                <div class="services-content mt-20">
                  <h5 class="title mb-10">Đồ nội thất</h5>
                  <p>Với lượng sản phẩm được liên tục cập nhật mới. Chúng tôi sẽ mang cho bạn những cảm giác thoải mái nhất khi mua sắm với chúng tôi</p>
                </div>
              </div> <!-- single services -->

              <div class="single-services text-center mt-30">
                <div class="services-icon">
                  <i class="lni-ruler-pencil"></i>
                </div>
                <div class="services-content mt-20">
                  <h5 class="title mb-10">Trang trí</h5>
                  <p>Với những nhà thiết kế hàng đầu Việt Nam. Bạn hoàn toàn có thể tin tưởng chúng tôi với ngôi nhà thân yêu của bạn</p>
                </div>
              </div> <!-- single services -->
            </div>

          </div> <!-- row -->
        </div> <!-- services right -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->
