<!--======  BLOG PART START ======-->

<section id="blog" class="blog-area pt-125">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center pb-25">
          <h3 class="title mb-15">{{blog.tagline}}</h3>
          <p>{{blog.description}}</p>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6" *ngFor="let feature of blog.feature" >
        <div class="single-blog mt-30">
          <div class="blog-image">
            <img src="assets/images/blog/{{feature.image}}" alt="Blog">
          </div>
          <div class="blog-content">
            <div class="content">
              <h4 class="title"><a href="#">{{feature.title}}</a></h4>
              <span>{{feature.date}}</span>
            </div>
            <div class="meta d-flex justify-content-between align-items-center">
              <div class="meta-admin d-flex align-items-center">
                <div class="image">
                  <a href="#"><img src="assets/images/blog/{{feature.i}}" alt="Admin"></a>
                </div>
                <div class="admin-title">
                  <h6 class="title"><a href="#">{{feature.by}}</a></h6>
                </div>
              </div>  <!-- meta admin -->
              <div class="meta-icon">
                <ul>
                  <li><a href="#"><i class="lni-share"></i></a></li>
                  <li><a href="#"><i class="lni-heart"></i></a></li>
                </ul>
              </div> <!-- meta icon -->
            </div> <!-- meta -->
          </div>
        </div> <!-- single blog -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--======  BLOG PART ENDS ======-->
