<div class="collection-menu text-center mt-30">
  <h4 class="collection-tilte">OUR COLLECTION</h4>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a (click)="getActiveTab('furniture')" [class.active]="activetab === 'furniture'"> Furniture</a>

    <a (click)="getActiveTab('decorative')" [class.active]="activetab === 'decorative'">Decorative</a>

    <a (click)="getActiveTab('lighting')" [class.active]="activetab === 'lighting'">Lighting</a>

    <a (click)="getActiveTab('outdoor')" [class.active]="activetab === 'outdoor'">Outdoor</a>

    <a (click)="getActiveTab('storage')" [class.active]="activetab === 'storage'">Storage</a>
  </div> <!-- nav -->
</div> <!-- collection menu -->
